@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink a.active {
    border-color: white;
}